.weather-container {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .weather-info p {
    transition: transform 0.3s ease;
  }
  
  .weather-info p:hover {
    transform: scale(1.05);
  }
  @media screen and (max-width: 600px) {
    .weather-info {
      flex-direction: column;
      gap: 10px;
    }
  
    .weather-container {
      padding: 20px;
    }
  }
  @media screen and (max-width: 600px) {
    .weather-info {
      flex-direction: column;
      gap: 10px;
    }
  
    .weather-container {
      padding: 20px;
    }
  }
  .greeting {
    font-size: 1.3rem;
    margin-top: 0.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
  }
  .hero-button {
    background-color: #3b82f6;
    color: white;
  }
  
  .hero-button:hover {
    background-color: #2563eb;
    transform: scale(1.05);
  }
  .weather-vibe-btn {
    padding: 12px 25px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(to right, #60a5fa, #3b82f6);
    color: #fff;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .weather-vibe-btn:hover {
    background: linear-gradient(to right, #3b82f6, #1d4ed8);
    transform: scale(1.05);
  }